<h1>This is the main welcome page</h1>

<iframe src="https://appear.in/testing-room-name" width=700" height="600" frameborder="0"></iframe>

<% if user_signed_in? %>

	<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>

	<%= link_to "Sign Up", new_user_registration_path %>
	<%= link_to "Log In", new_user_session_path %>
<% end %>
