

<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in">Meet Grasshopper</div>
			<div class="intro-heading">The future of collaborative learning</div>
			<a class = "btn btn-primary btn-lg" href ="/#services">Learn More</a>
		</div>
	</div>
</header>


<a id="services"></a>
<div class="content-section-a">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Our Vision</h2>
				<p class="lead">We aim for a world where students are leaders, but leadership means working together.  One grasshopper can’t do very much, but a swarm is a powerful force. We envision a world where a powerful student community brings social inclusion to unchallenged, alienated, and at-risk youth.</p>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<%= image_tag("/assets/group-work.jpeg", class: "img-responsive img-circle") %>
			</div>
		</div>

	</div>
</div>

<div class="content-section-b">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Our Mission</h2>
				<p class="lead">More than just an app to facilitate student pairing for tutoring, Grasshopper is teaching students how to share knowledge and develop responsibility for each other’s success. </p>
			</div>
			<div class="col-lg-5 col-sm-pull-6 col-sm-6 b-pic">
				<%= image_tag("/assets/img_knowledge.jpg", class: "img-responsive img-circle") %>
			</div>
		</div>

	</div>
	<!-- /.container -->

</div>

