
<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in">Meet Grasshopper</div>
			<div class="intro-heading">The future of collaborative learning</div>
			<a class = "btn btn-primary btn-lg" href ="">Learn More</a>
		</div>
	</div>
</header>

<div class = "container">
	<h1 class = "mission"> Our Mission </h1>
	<hr>
	<div section = content a">
		<h3>  </h3>
	</div>
</div>
