<div class = "container">

<div class = "schedule-intro">
	<h3> We're so glad you've decided to schedule an appointment with a peer tutor!<br> Please fill out the form below, and your tutor will contact you for more details! </h3>
</div>

	<div class = "cal-schedule col-lg-12">

	<form action = "/tutor/show" onSubmit="alert('Your appointment has been scheduled!')" class = "form-group">

	 We will meet for <input type="text" name="minutes-time"> minutes<br><br>

  	We will:  Meet in Person <input type="checkbox" name="meeting-type">  Talk on the phone <input type="checkbox" name="meeting-type"> Video chat <input type="checkbox" name="meeting-type"><br><br>
  
  	The most important thing I want help with is:<br>
  	<input type="text" name="mvp-help"><br>

  	<br>I also want help with:<br>
  	<input type="text" name="reg-help">
  	<br>
  	<br>

  	Anything you need your tutor to know?<br>
  	<textarea rows="4" cols="40"></textarea><br><br>


  	<input type="submit" value="Submit" class ="btn btn-primary btn-lg">


			





	</div>

</div>